@import "tailwindcss"

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Serif Font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Inter Font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Card Styles */
.card-1 {
  background-image: url(../assets/deal-bloom.png);
}

.card-2 {
  background-image: url(../assets/deal-ana.png);
}

.card-3 {
  background-image: url(../assets/deal-zabo.png);
}

/* .card-1,
.card-2,
.card-3 {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-3 {
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
} */